<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{/$companyName/}</title>
		<meta name="keywords" content="打工，招工，找工作，招聘网" />
		<meta name="description" content="快米工作招聘网是汇博网旗下，专注为企业提供司机、快递物流、物业房产、餐饮服务和普工技工等招工信息的专业招聘平台，重庆市服务业名企都在这里直招，重庆服务业打工招工就上快米工作招聘网。" />
		<link rel="stylesheet" type="text/css" href="{/version file='base.css'/}" />
		<link rel="stylesheet" href="{/version file='kuaimijob.css'/}">
		<style type="text/css">
			.company-inter {
			background: url('{/$siteurl.style/}/img/blue/company/icon_home.png') 0 20px no-repeat;
			}
			.company-inter:hover a {
			    text-decoration: underline;
			}
			html,body{ background: #f8fbfe;}
		</style>
	</head>
	<body>
	<div class="header">
	    <div class="wrap clearfix">
	        <a href="/" class="kuaimi-logo">
	            <img src="{/$siteurl['style']/}/img/blue/company/kuaimi_logo.png" alt="" width="29" height="28" />
	            <h1>{/$companyName/}</h1>
	        </a>
			<div class="blueNav">
				<a href="/">首页</a>
				<a href="javascript:;" class="active">快米工作</a>
			</div>
	        <div class="head-info clearfix">
	            <div style="padding-left: 22px;" class="head-info-open company-inter">
	                <!--<img src="{/$siteurl['style']/}/img/blue/company/icon_home.png" alt="" width="15" height="14">-->
	                <a href="{/$siteurl['kmcompany']/}/login">企业招聘入口</a>
	            </div>
	        </div>
	    </div>
	</div>
	
	<div class="content">
		<div class="content_title">
			<span class="abtkm">关于快米</span><span class="guanyu">ABOUT  KUAIMI</span>
		</div>
		<div class="content_section">
			<div class="content_section_top">
				<img src="{/$siteurl.style/}/img/blue/company/blue_img06.jpg" alt=""><span>关于快米工作</span>
			</div>
			<div class="content_section_content">
				"快米工作"成立于2018年，是汇博人才旗下蓝领招聘平台，致力于为广大求职者提供真实的基层工作岗位，所有职位都经过官方人工审核，确保每一个职位的真实、有效。同时，求职者申请任何职位，都会24小时得到回复。
			</div>
		</div>
		<div class="content_section">
			<div class="content_section_top">
				<img src="{/$siteurl.style/}/img/blue/company/blue_img07.jpg" alt=""><span>快米工作特色</span>
			</div>
			<div class="content_section_content">
				快米工作专注服务蓝领群体的求职平台，主要涵盖行业有制造业/餐饮/ 零售快消/物业/物流快递/美容美发/家政/等生活服务类的城市蓝领。其所有职位均标明了真实的员工薪资福利、工作环境、用工方式等细节，直接与用人方对接交流，确保求职朋友在家也能放心找到工作。
			</div>
		</div>
		<div class="content_section">
			<div class="content_section_top">
				<img src="{/$siteurl.style/}/img/blue/company/blue_img08.jpg" alt=""><span>海量专职岗位，覆盖面广</span>
			</div>
			<div class="content_section_content">
				快米工作提供了上万个普工、操作工、技工、班组长、检验、服务员、厨师、收银员、导购、保安、领班、快递员、司机、库管、保洁、美容师、洗车工、汽车维修工等岗位。涉及了众多行业、地区，给求职朋友提供更多选择机会。招聘岗位的用工性质，如企业直招、派遣等都有标注，让求职朋友清楚明白。
			</div>
		</div>
		<div class="content_section">
			<div class="content_section_top">
				<img src="{/$siteurl.style/}/img/blue/company/blue_img09.jpg" alt=""><span>兼职、临时工信息多</span>
			</div>
			<div class="content_section_content">
				快米工作针对企业与个人有大量兼职、临时工的需求、特设有临时工频道。涉及的岗位有兼职营业员、兼职服务员、小时工、兼职网约车司机、兼职促销、兼职分拣员、寒假工、季节工、兼职杂工、兼职配送员、兼职发单员、兼职信息录入等。临时工信息都由快米工作人员筛选后发布的，拒绝不诚信机构、黑中介等发布信息。
			</div>
		</div>
		<div class="content_section">
			<div class="content_section_top">
				<img src="{/$siteurl.style/}/img/blue/company/blue_img10.jpg" alt=""><span>免费学技术</span>
			</div>
			<div class="content_section_content">
				为帮助求职朋友成长， 快米工作与多家承接政府公益培训项目的学校合作，提供的培训项目有电工、面点师、火锅厨师、小面师、美容师、育婴师、小儿推拿师、烘焙等。求职朋友只须通过快米工作报名，符合条件的都可以免费学技术。
			</div>
		</div>
		<div class="content_section">
			<div class="content_section_top">
				<img src="{/$siteurl.style/}/img/blue/company/blue_img11.jpg" alt=""><span>目前规模</span>
			</div>
			<div class="content_section_content">
				快米工作目前已与8000家重庆优质企业合作，20万蓝领人才注册。企业用户及求职用户可通过app和微信公众号等渠道发布招聘信息或求职。
			</div>
		</div>
		<div class="content_section_t">
			<div class="content_section_t_title">在快米工作招聘企业</div>
			<div class="content_section_t_content">
				<div class="content_section_t_item">
					<img src="{/$siteurl.style/}/img/blue/company/blue_img12.jpg" alt="">
					<span class="content_section_t_spn">制造业</span>
					<div>长安汽车、力帆实业、康宁显示科技、美的制冷、韩泰轮胎、娃哈哈昌盛饮料、小康工业集团、康师傅、隆鑫通用动力股份、美心集团...</div>
				</div>
				<div class="content_section_t_item">
					<img src="{/$siteurl.style/}/img/blue/company/blue_img13.jpg" alt="">
					<span class="content_section_t_spn">物流</span>
					<div>顺丰速运、德邦物流、苏宁物流、宅急送...</div>
				</div>
				<div class="content_section_t_item">
					<img src="{/$siteurl.style/}/img/blue/company/blue_img14.jpg" alt="">
					<span class="content_section_t_spn">物业</span>
					<div>华宇物业、华润物业、龙湖物业、融创物业、新大正物业、万科物业...</div>
				</div>
				<div class="content_section_t_item">
					<img src="{/$siteurl.style/}/img/blue/company/blue_img15.jpg" alt="">
					<span class="content_section_t_spn">餐饮</span>
					<div>海底捞、豪客来、乡村基、廖记食品、星巴克、肯德基、顺水鱼餐饮、四海一家餐饮...</div>
				</div>
				<div class="content_section_t_item">
					<img src="{/$siteurl.style/}/img/blue/company/blue_img16.jpg" alt="">
					<span class="content_section_t_spn">酒店</span>
					<div>丽晶酒店、喜玛拉雅酒店、威灵顿酒店、威斯汀酒店、天来酒店、万豪酒店...</div>
				</div>
				<div class="content_section_t_item">
					<img src="{/$siteurl.style/}/img/blue/company/blue_img17.jpg" alt="">
					<span class="content_section_t_spn">商超百货</span>
					<div>国美电器、鲜丰水果、远东百货、茂业百货、劲浪体育、孩子王、沃尔玛...</div>
				</div>
			</div>
			
		</div>
		
		
	</div>	
		
	{/include file='./company/footer.html'/}	
	
	</body>
</html>
