<h3>如何获得米币？</h3>
<p>1.上传营业执照认证成功+{/$company_config['getMbByVerifyCompnay']/}米币</p>
<p>2.上传企业logo认证成功+{/$company_config['getMbByLogo']/}米币</p>
<p>3.上传企业环境照片（至少4张）+{/$company_config['getMbByEnvir']/}米币</p>
<p>4.每日登录+{/$company_config['getMbByLogin']/}米币</p>
<p>5.及时回复投递的简历：
    当日投递的简历，当日至次日全部处理 +{/$company_config['getMbByDealResumeIn12']/}米币；第三日全部处理 +{/$company_config['getMbByDealResumeOut12']/}米币</p>
<p>6.邀请新用户企业注册快米并且发布职位  +{/$company_config['getMbByInviteRegister']/}米币</p>
<p style="color: #fb5958;margin-bottom: 20px;">米币有效期：每个米币的有效期为获取当天至一年内使用有效</p>
<h3>开通会员获得更多米币和招聘特权</h3>