<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>视频面试</title>
		<link rel="stylesheet" type="text/css" href="{/version file='base.css'/}" />
		<link rel="stylesheet" type="text/css" href="{/version file='v2-reset.css,v2-icons.css,v2-widge.css,v2-job.css'/}" />
		<link rel="stylesheet" type="text/css" href="{/version file='base.css'/}"/>
		<link rel="stylesheet" type="text/css" href="{/version file='kuaimijob.css'/}"/>
		<link rel="stylesheet" type="text/css" href="{/version file='v2-widge.css'/}"/>
		
		<script type="text/javascript" src="{/version file='jquery-1.8.3.min.js'/}"></script>
		<script type="text/javascript" src="{/version file='common.js'/}"></script>
		<style type="text/css">
			.kuaimi-logo{width: 180px;}
		</style>
	</head>
	<body>
		<div class="header pre-resume">
		    <div class="wrap clearfix">
		        <a href="{/get_url rule='/company/index'/}">
		            <div class="kuaimi-logo">
		                <img src="{/base_lib_Constant::STYLE_URL/}/img/blue/company/kuaimi_white.png" alt="" width="27" height="27">
		                <h1>快米工作 | 简历</h1>
		            </div>
		        </a>
		    </div>
		</div>
	</body>
</html>
