<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>视频面试操作流程</title>
	<link rel="stylesheet" type="text/css" href="{/version file='base.css'/}"/>
	<link rel="stylesheet" type="text/css" href="{/version file='kuaimijob.css'/}"/>
</head>
<body style="background: #ececec;">
	<!-- <div id="cover" style="display:none;position: fixed;top: -100px;left: -100px;height: 5000px;width: 5000px;background-color: rgba(0,0,0,0.5);z-index: 5"></div> -->
	{/include file='./company/company_head.html'/}
	<div class="guidePCVideo">
		<h3 class="guideTitle">视频面试操作流程</h3>
		<ul>
			<li>
				<p>1.首先企业要向求职者<span>发送视频面试邀请</span></p>
				<img src="{/$siteurl.style/}/img/blue/company/guidePCcompanyVideo1.jpg" />
			</li>
			<li>
				<p>2.发送邀请成功后，可以在<span>面试管理</span>查看邀请记录</p>
				<img src="{/$siteurl.style/}/img/blue/company/guidePCcompanyVideo2.jpg" />
			</li>
			<li>
				<p>3.在求职者简历详情<span>发起视频面试</span></p>
				<img src="{/$siteurl.style/}/img/blue/company/guidePCcompanyVideo3.jpg" />
			</li>
			<li>
				<p>4.呼叫求职者并<span>面试</span></p>
				<img src="{/$siteurl.style/}/img/blue/company/guidePCcompanyVideo4.jpg" />
			</li>
		</ul>
		<div class="otherRule">
			<p>其他规则</p>
			<p>1.企业可以对求职者发起视频通话的时间段：<span>面试前半小时---面试后3小时内</span>；超过后需要重新向求职者发送视频面试邀请</p>			<p>2.每次视频通话<span>不能超过1个小时</span>，超过1小时候视频自动结束；想要继续视频，只能再次发起视频通话；</p>
			<p>3.发起视频通话时，求职者必须先<span>打开快米app</span>，否者求职者不能手到视频呼叫，请及时联系求职者打开app；</p>
			<p>4.该功能需要<span>消耗视频分钟数</span>，使用完后请尽快联系客服充值分钟数。我们已给每位会员免费赠送一定数量的视频时长！</p>
		</div>
	</div>
</body>
</html>