<!DOCTYPE html>
{/include_php file='app/controller/footer.php'/}
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
        <!--<link rel="stylesheet" type="text/css" href="{/version file='kuaimijob.css'/}"/>-->
        <!--<link rel="stylesheet" type="text/css" href="{/version file='base.css'/}"/>-->
	</head>
	<body>
		<div class="km_footer">
			<img src="{/$siteurl['style']/}/img/blue/company/blue_img18.jpg" >
			<p>电话：{/$linkTel/}<em>地址：重庆两江新区龙头寺华宇地产五号楼汇博</em></p>
					©{/$year/}  汇博网 版权所有  |  增值电信业务经营许可证：{/$_footer_data['license']/}  |  <a style="color: #fff" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=50010502001182" target="_blank">渝公网安备 {/$_footer_data['publicNumber']/}号</a>  |  渝ICP备11002848号-5<br>招聘单位无权收取任何费用,请求职人员加强自我保护意识,按劳动法规保护自身权益,警惕虚假招聘,避免上当受骗!
		</div>
	</body>
</html>
